/testcase00_bazaar_marketplace_tab01product.pyc
/testcase00_bazaar_marketplace_tab02market.pyc
/testcase00_bazaar_marketplace_tab03solution.pyc
/testcase00_bazaar_marketplace_tab04service.pyc
/testcase00_bazaar_marketplace_tab05partner.pyc
/testcase00_bazaar_marketplace_tab06helpcenter.pyc
/testcase00_bazaar_marketplace_tab07others.pyc
